@import '../../styles/global-styles.scss';

footer {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
  border-top: 1px solid #666;

  a {
    color: #41addd;
  
    &:hover {
      color: #6cc0e5;
    }
  }
}
.window {
  position: absolute;
  bottom: 100px;
  .frame {
    width: 220px;
    height: 300px;
    overflow: hidden;
    img {
      margin-top: -220px;
      margin-left: -400px;
    }
  }
  p {
    color: $theme-alt;
    font-size: 20px;
    text-align: right;
  }
}