
@import '../../styles/global-styles.scss';
  * {
      color: $theme-alt;
      @include Sabon;
  }

$spread-height: calc(100vh - (#{$gutter-size} * 2));

.portfolio-spread {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  height: $spread-height;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(#{$gutter-size} * 2) calc(100vh - (#{$gutter-size} * 8)) calc(#{$gutter-size} * 2) calc(#{$gutter-size} * 2);
  grid-column-gap: $gutter-size;
  @include desktop-narrow {    
    grid-template-columns: 1.5fr 1fr;
    font-size: 15px;
 }
 @include mobile-tablet {
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-template-rows: auto 1fr;
  height: auto;
 }
  .left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: stretch;
    height: $spread-height;
    border: 1px solid $theme-alt;
    background: $theme-base;
    @include mobile-tablet {
      grid-column-end: 1;
      grid-row-end: 2;
      height: auto;
      align-self: unset;
      border: 0px;
      background: $theme-base-secondary;
    }
    .img-container {
      height: calc(100% - #{$gutter-size});
      display: flex;
      align-items: center;
      justify-content: center;
      outline: 0;
      cursor: pointer;
      margin: 0;
      padding: $gutter-size;
      @include mobile-tablet {
        height: auto;
        display: block;
        padding-top: 0;
      }
      img {
        width: 100%;
        height: 100%;
        max-height: 80vh;
        object-fit: contain;
        @include mobile-tablet {
          max-height: 66vh;
        }
      }
    }
    .img-counter {
      @include Sabon(italic, 400);
      text-align: center;
      letter-spacing: 1px;;
    }
  }
  .right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    @include mobile-tablet {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-end: 2;
      overflow-y: unset;
    }
    .text-container {
      max-width: 700px;
      margin: auto;
      * { text-align: center; }
      h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-bottom: 0px;
        letter-spacing: 1px;
      }
      a {
        display: block;
        text-decoration: none;
        @include Sabon(italic, 400);
        color: $theme-link;
      }
      ul {
        list-style-type: none;
        padding-left: 0px;
        li {
          text-transform: uppercase;
          @include Sabon(italic, 400);
        }
      }
      p {
        text-align: justify;
        text-align-last: center;
        margin-top: 0px;
        margin-bottom: 1em;
        &:last-of-type {
          margin-bottom: 2em;
        }
      }
    }
  }
  .text-buffer {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      z-index: 1;
      background: linear-gradient(0deg,$theme-base-secondary 20%,rgba(255,255,255,0) 100%);
      @include mobile-tablet { 
        display: block;
        position: fixed;
        bottom: $gutter-size;
        left: 0px;
        width: 100%;
        height: calc(#{$gutter-size} * 2);
      }
    }
  .portfolio-nav {
    z-index: 1;
    a {
      text-decoration: none;
    }
    h2, span {
      height: $gutter-size;
      line-height: $gutter-size;
      padding: 0px;
      margin: 0px;
      text-align: justify;
      display: block;
      &:after { /* Justify last line */
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
    }
    span {
      @include Sabon(italic, 400);
    }
    &.last {
      @include mobile-tablet { display: none; }
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &.next {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      @include mobile-tablet { 
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: $theme-link; 
        width: 100%;
        height: 30px;
        span {
          display: none;
        }
        h2 {
          color: $theme-base;
        }
      }
    }
    &:hover {
      h2 {
        color: $theme-hov;
      }
    }
  }
}
